.features {
  padding: 60px 0;
}

.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.features__el {
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.features__icon-box {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;

  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/*

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    .features__el {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding: 94px 0;

    .features__list {
      flex-wrap: nowrap;
    }

    .features__el {
      width: 270px;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
} */
